<!DOCTYPE html>
<html>
<head>
  <title>Data Barang</title>
</head>
<body>
<h1>Data Barang</h1>
<table border="1">
  <tr>
    <th>ID Barang</th>
    <th>Nama Barang</th>
    <th>Harga</th>
    <th>Stok</th>
    <th>Aksi</th>
  </tr>
  {{range .}}
    <tr>
      <td>{{.IdBarang}}</td>
      <td>{{.NamaBarang}}</td>
      <td>{{.Harga}}</td>
      <td>{{.Stok}}</td>
      <td>
        <form action="/update" method="post">
          <input type="hidden" name="id" value="{{.IdBarang}}">
          <input type="submit" value="Update">
        </form>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="{{.IdBarang}}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  {{end}}
</table>
</body>
</html>